<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Qui suis-je ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="../../assets/img/moi.jpeg">
      </ion-col>
      <ion-col size="7">
        <p>
          Je suis un étudiant en BUT informatique à l'IUT de Metz. Passionné par la technologie et le développement de logiciels, j'ai acquis des compétences dans plusieurs langages de programmation, notamment Java, JavaScript, TypeScript et PHP.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Mon parcours</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Mon parcours en informatique a commencé à l'IUT de Metz où j'ai eu l'opportunité d'apprendre et de travailler sur de nombreux projets intéressants. J'ai pu développer mes compétences en programmation et en résolution de problèmes, ainsi qu'une compréhension approfondie des principes fondamentaux de l'informatique.
        </p>
        <p>
          J'ai une solide expérience en Java, JavaScript, TypeScript et PHP, et j'ai travaillé sur plusieurs projets utilisant ces technologies. J'aime relever des défis et apprendre de nouvelles technologies.
        </p>
        <p>
          Je suis toujours à la recherche de nouvelles opportunités pour développer mes compétences et contribuer à des projets intéressants. N'hésitez pas à me contacter si vous pensez que je pourrais être un bon ajout à votre équipe ou à votre projet.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>