<ion-header>
  <ion-toolbar>
    <ion-title>Photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!-- Réduisez la taille de la colonne à 3 pour rendre les images plus petites -->
      <ion-col size="3" *ngFor="let photo of photos; index as position">
        <!-- Ajoutez un peu de style à vos images pour les rendre plus jolies -->
        <ion-img [src]="photo.webviewPath" style="border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin: 10px;"></ion-img>
      </ion-col>
    </ion-row> 
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button expand="block" color="success" (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>